{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block body %}
	<style>
		button {
			font-size: 1.5em;
			border: 1px solid black;
			border-radius: 5px;
			padding: 0.5em;
			flex-basis: 32%;
		}
		#logout-btn {
			background-color: red;
			color: white;
			text-transform: uppercase;
		}
		#button-container {
			gap: 10px;
		}
	</style>
	<h1>
		{{app.user.nom}}
		{{app.user.prenom}}</h1>
	<p>
		{{app.user.matricule}}
	</p>
	<h2>
		Tableau de bord
	</h2>
	<div id='button-container' class='row d-flex'>
		<button type='button' onclick="location.href='{{path('app_compte_emp')}}';">Mon espace</button>
		<button type='button' onclick="location.href='{{path('app_user_index')}}';">Mes utilisateurs</button>
		<button type='button' onclick="location.href= '{{path('app_message')}}';">Messages</button>
		<button type='button' onclick="location.href='{{path('app_categorie_index')}}';">Gestion des catégories</button>
		<button type='button' onclick="location.href='{{path('app_produit_index')}}';">Gestion des produits</button>
		<button type='button' onclick="location.href='{{path('app_logout')}}';" id='logout-btn'>Déconnexion</button>
	</div>
{% endblock %}
