{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Gestion des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Introduction</th>
                <th>Description</th>
                <th>PrixDefaut</th>
                <th>NbrJour</th>
                <th>NbrNuit</th>
                <th>DescriptionProgramme</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.title }}</td>
                <td>{{ produit.introduction }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prixDefaut }}</td>
                <td>{{ produit.nbrJour }}</td>
                <td>{{ produit.nbrNuit }}</td>
                <td>{{ produit.descriptionProgramme }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Create new</a>
{% endblock %}
