{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}

	<h1>Mes achats</h1>



  <table class="table">
        <thead>
            <tr>
                <th>Id</th>
				<th>Voyage</th>
				<th>Planning</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for achat in user.achat %}
            <tr>
                <td>{{ achat.id }}</td>
				<td>{{ achat.produit }}</td>
                <td>Du {{ achat.planning.DateDepart | date("d/m/Y") }} - au {{achat.planning.DateFin | date("d/m/Y")}}</td>
                <td>{{ achat.prix }}</td>
                <td>
                    <a href="{{ path('app_achat_show', {'id': achat.id}) }}">Voir</a>
                    <a href="{{ path('app_achat_edit', {'id': achat.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun achat fait</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


	<a href="{{ path('app_compte') }}">Retour</a>

{% endblock %}