{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}

	<h1>{{produit.title}}</h1>
	<h2>
		{{produit.introduction}}</h2>
	<table class="table">
		<tbody>
			<tr>
				<th>Utilisateur</th>
				<td>
					<span id='nomUser'>{{user.nom}}</span>
					<span id='prenomUser'>{{user.prenom}}
					</span>
				</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>
					{{user.email}}</td>
			</tr>
			<tr>
				<th>Planning</th>
				<td>{{ planning.DateDepart|date('d/m/Y') }}
					-
					{{ planning.DateFin | date('y/m/Y') }}
				</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>
					<b>
						<span id='prix'>{{ planning.prix }}
						</span>
						€</b>
				</td>
			</tr>
			<tr>
				<th>id_produit</th>
				<td>
						<span id='id_produit'>{{ produit.id }}
						</span>
				</td>
			</tr>

		</tbody>
	</table>
	<div
		id="paiement">
		<!-- Display a payment form -->
		<form id="payment-form">
			<div
				id="link-authentication-element"><!--Stripe.js injects the Link Authentication Element-->
			</div>
			<div
				id="payment-element"><!--Stripe.js injects the Payment Element-->
			</div>
			<button id="submit">
				<div class="spinner hidden" id="spinner"></div>
				<span id="button-text">Payer</span>
			</button>
			<div id="payment-message" class="hidden"></div>
		</form>
	</div>
</div>
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script src='/stripe/checkout.js'></script>

<a href="{{ path('app_programmes') }}">Retour</a>{% endblock %}
