{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}

    <h1>{{produit.title}}</h1>
    <h2> {{produit.introduction}}</h2>
    <p>{{produit.description}}</p>
    <p> <b>Au programme :</b> <br> {{produit.descriptionProgramme}} </p>


    <table class="table">
        <tbody>
            <tr>
                <th>Nombre de jours</th>
                <td>{{ produit.nbrJour }}</td>
            </tr>
            <tr>
                <th>Nombre de nuits</th>
                <td>{{ produit.nbrNuit }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td> <b>{{ produit.prixDefaut }} €</b></td>
            </tr>
        </tbody>
    </table>

    {% if produit.planning|length > 0 %}
    <form method="GET" action="{{ path('app_programmes_payment', {'id': produit.id}) }}">
        <select name="planning">
        {% for planning in produit.planning %}
            <option value="{{planning.id}}">{{planning.DateDepart|date("d/m/Y") }} - {{planning.DateFin|date("d/m/Y")}}</option>
        {% endfor %}
        </select>

        <input type="submit" value="Réserver">
    </form>
    {% else %}
    <p class ='alert'>Aucun planning disponible</p>
    {% endif %}


    <a href="{{ path('app_programmes') }}">Retour</a>
{% endblock %}
