{% extends 'base.html.twig' %}

{% block title %}Planning index
{% endblock %}

{% block body %}
	<h1>Gestion des plannings</h1>

	<a href="{{ path('app_planning_new') }}">Créer un nouveau planning</a>
	<table class="index-table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Produit</th>
				<th>Date de départ</th>
				<th>Date de fin</th>
				<th>Prix</th>
				<th>Places restantes</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for planning in plannings|reverse %}
				<tr>
					<td>{{ planning.id }}</td>
					<td>{{ planning.produit }}</td>
					<td>{{ planning.DateDepart ? planning.DateDepart|date('d/m/Y')}}</td>
					<td>{{ planning.DateFin ? planning.DateFin|date('d/m/Y') }}</td>
					<td>{{ planning.prix }} €</td>
					<td>{{ planning.quantite }}</td>
					<td>
						<a href="{{ path('app_planning_show', {'id': planning.id}) }}">show</a>
						<a href="{{ path('app_planning_edit', {'id': planning.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
