{% extends 'base.html.twig' %}

{% block title %}Messages
{% endblock %}

{% block body %}

	<link rel='stylesheet' href='/css/messagerie-chat.css'>

	<a href='{{path('app_message')}}'>Retour</a>

	{% if messagerie.statut == 'ongoing' or messagerie.statut == null %}
		<a href='{{path('app_message_statut', {id : messagerie.id, statut : 'done' })}}'>
			<button>Archiver</button>
		</a>
	{% endif %}
	<h1>
		{{messagerie.objet}}</h1>
	<div class='scroll-box'>
		<p>
			{{messages[0].contenu}}
		</p>
		<hr>
		{% for message in messages|slice(1) %}
			<p class='message {% if app.user.id == message.author.id %} user-message {% endif %}'>

				{% if app.user.id == message.author.id %}
					Vous
				{% else %}
					{{message.author.nom}}
					{{message.author.prenom}}
				{% endif %}
				:
				{{message.contenu}}
			</p>
		{% endfor %}
	</div>

	<form action="{{path('app_message_send',{id: messagerie.id})}}" method="POST">
		<input type="text" name="message"></input>
	<button id='send-button' type='submit'>Envoyer</button>
</form>{% endblock %}
