{% extends 'base.html.twig' %}

{% block title %}Achat index
{% endblock %}

{% block body %}
	<h1>Gestion des achats</h1>

	<table class="index-table">

		<thead>
			<tr>
				<th>Id</th>
				<th>Utilisateur</th>
				<th>Email</th>
				<th>Produit</th>
				<th>Date de départ</th>
				<th>Date de fin</th>
				<th>Prix</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for achat in achats %}
				<tr>
					<td>{{ achat.id }}</td>
					<td>
						{{achat.user.nom}}
						{{achat.user.prenom}}</td>
						<td> {{achat.user}}</td>
					<td>{{ achat.produit }}</td>
					<td>{{ achat.planning.DateDepart|date('d-m-Y')}}</td>
					<td>{{ achat.planning.DateFin|date('d-m-Y')}}</td>
					<td>{{ achat.prix|number_format(0,',',' ') }}
						€</td>
					<td>
						<a href="{{ path('app_achat_show', {'id': achat.id}) }}">Voir</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_achat_new') }}">Create new</a>
{% endblock %}
