{% extends 'base.html.twig' %}

{% block title %}Categorie
{% endblock %}

{% block body %}
	<style>
		img {
			width: 640px;
			height: auto;
		}
	</style>
	<h1>{{categorie.nom}}</h1>
	<img src='{{categorie.image}}'>
	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ categorie.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ categorie.nom }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ categorie.description }}</td>
			</tr>
		</tbody>
	</table>
	<a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">Modifer catégorie</a>
	{{ include('categorie/_delete_form.html.twig') }}
	<h2>Produits associés</h2>
	<a href="{{ path('app_produit_new') }}">Créer un produit</a>
	<table class="index-table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Prix Defaut</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for produit in produits|reverse %}
				<tr>
					<td>{{ produit.id }}</td>
					<td>{{ produit.title }}</td>
					<td>{{ produit.prixDefaut }}
						€</td>
					<td>
						<a href="{{ path('app_produit_show', {'id': produit.id}) }}">Voir</a>
						<a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">Aucun produit trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_categorie_index') }}">Retour à la liste</a>


{% endblock %}
